

ul.navigation {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

ul.navigation li {
    margin-right: 20px;
}

ul.navigation a:hover {
    text-decoration: underline;
}

.temple-grid {
    grid-template-columns: repeat(3, 1fr);
}

footer {
    font-size: 0.9rem;
}
